:root {
    --primary-color:  #9dc9f1;
    --secondary-color: #024e76;
    --tertiary-color: #0b2124;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    background-color: var(--primary-color);
    margin:0;
    font-size: 36px;
    border-bottom: 3px solid;
    border-color: var(--primary-color);
  }

  header h1 a{
    color: var(--tertiary-color);
  }
  
  header a {
    text-decoration: none ;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  